.box1{
    background: url("admin2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh;
    width:230.8vh;
    overflow-x: hidden;
   
}

#admin{
    transform: translateX(600px);
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.user{
    transform: translateX(300px);
    color: white;
    margin-bottom: 8px;
    margin-top: 5px;
    font-weight:300;
   margin-left: 350px;
}
.Admenu{
    background-color:#DED7EC;
    overflow-y: hidden;
   

}
.admenu{
    background-color:#DED7EC;
    height:90vh;
    margin-top: 5px;
}
#large{
    color:rebeccapurple
}
		
#dashboard{
   /* position: relative;*/
   width: 1380px;
    height: 800px;
    /*border: 5px solid rgb(219, 222, 18);*/
   padding-left: 5px;
   padding-top: 5px;
   position: fixed;
padding-right: 300px;

}

.dash1{
   
    height: 150px;
    width: 150px;
    border: 2px solid rgb(225, 211, 11);
    margin: 10px;
    text-decoration: none;
    padding: 5px;
    

}

.dash4{
    background-color:white;
    width:200vh;
    height:91vh;
    overflow-x: hidden;
}


.view-rating-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .retrieved-text {
    font-size: 16px;
    color: #333;
  }
.Admenu{
    overflow-y: hidden;
}  
	
#dash6{
    display: flex;
    justify-content:space-evenly;
    gap: 30px;
   
}

.form-control {
    margin-left: 450px !important;
    width: 70%;
}
.btn-primary{
    margin-left: 651px;
    background-color: transparent;
    border-color: white;
}