.navbar {
    color: rgb(73, 7, 73);
  }
  
  .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(41, 41, 87) !important;
  }
  
  .ml-auto {
    margin-left: auto;
    display: flex; /* Ensure items are displayed in a row */
    align-items: center; /* Vertically center items */
  }
  
  .nav-link {
    color: rgb(221, 212, 212); /* Link text color */
    padding: 0 15px; /* Spacing around text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure links are inline */
  }
  
  .nav-link:hover {
    color: white; /* Ensure link color remains white on hover */
    text-decoration: none; /* Remove underline on hover */
  }
  
  .nav-link.active {
    color: white /* Change to a darker color for the active link */

  }
  

  /* Ensure dropdown menu appears below and is aligned to the end */
.dropdown-menu {
  min-width: 70px;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

/* Smooth transition for dropdown appearance */
.dropdown-menu.show {
  display: block;
  transition: opacity 0.3s ease;
}

/* Improve the button styling for better visibility */
.nav-link.dropdown-toggle {
  color: #fff;
  font-size: 1.1rem;
}

/* Add some spacing for the dropdown items */
.dropdown-item {
  padding: 0 !important;
  padding-left: 5px !important;
}

/* Change the color of the dropdown item on hover */
.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}
